ENV=qa
QA_URL=https://the-internet.herokuapp.com
DEV_URL=https://the-internet.herokuapp.com
BASE_URL=https://the-internet.herokuapp.com
LOGIN_PATH=/login
LOGIN_USERNAME=usernameHere
LOGIN_PASSWORD=passwordHere
HEADLESS=true
PW_WORKERS=2
